[submodule "paxoskv/googletest"]
	path = paxoskv/googletest
	url = git@github.com:google/googletest.git
    ignore = dirty
[submodule "paxoskv/leveldb"]
	path = paxoskv/leveldb
	url = git@github.com:google/leveldb.git
    ignore = dirty
[submodule "paxoskv/snappy"]
	path = paxoskv/snappy
	url = git@github.com:google/snappy.git
    ignore = dirty
[submodule "paxoskv/libco"]
	path = paxoskv/libco
	url = git@github.com:Tencent/libco.git
    ignore = dirty
[submodule "paxoskv/protobuf"]
	path = paxoskv/protobuf
	url = git@github.com:protocolbuffers/protobuf.git
    ignore = dirty
[submodule "certain/third/libco"]
	path = certain/third/libco
	url = git@github.com:Tencent/libco.git
    ignore = dirty
[submodule "certain/third/googletest"]
	path = certain/third/googletest
	url = git@github.com:google/googletest.git
    ignore = dirty
[submodule "certain/third/rocksdb"]
	path = certain/third/rocksdb
	url = https://github.com/facebook/rocksdb
    ignore = dirty
[submodule "certain/third/protobuf"]
	path = certain/third/protobuf
	url = git@github.com:protocolbuffers/protobuf.git
    ignore = dirty
[submodule "certain/third/gflags"]
	path = certain/third/gflags
	url = git@github.com:gflags/gflags.git
    ignore = dirty
[submodule "certain/third/glog"]
	path = certain/third/glog
	url = git@github.com:google/glog.git
    ignore = dirty
[submodule "certain/third/gperftools"]
	path = certain/third/gperftools
	url = git@github.com:gperftools/gperftools.git
